.sec_6{
    background-color: #484283;
    height: 1190px;
}

.figure_first{
    position: absolute;
    right: 0;
}

.team{
    padding-top: 20px;
}

.team_h1{
    color: white;
    margin-bottom: 20px;
}